.mt-100 {
    margin-top: 100px;

}
.card {
    margin-bottom: 30px;
    border: 0;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    letter-spacing: .5px;
    border-radius: 8px;
    -webkit-box-shadow: 1px 5px 24px 0 rgba(68, 102, 242, .05);
    box-shadow: 1px 5px 24px 0 rgba(68, 102, 242, .05);
}

.card .card-header {
    background-color: #fff;
    border-bottom: none;
    padding: 24px;
    border-bottom: 1px solid #f6f7fb;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.card-header:first-child {
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
}



.card .card-body {
    padding: 30px;
    background-color: transparent;
}

.btn-primary,
.btn-primary.disabled,
.btn-primary:disabled {
    background-color: #4466f2 !important;
    border-color: #4466f2 !important;
}

.addproduct-photo {
    background:#f1f7fc;
    display: flex;
    height: 80vh;
    padding:80px 0;
  }
  
  .addproduct-photo .image-holder {
    display:table-cell;
    width:auto;
    background:url(../../public/img/productBg.png);
    background-size:contain;
  }
  
  .addproduct-photo .form-container {
    display:table;
    max-width:900px;
    width:90%;
    margin:0 auto;
    box-shadow:1px 1px 5px rgba(0,0,0,0.1);
  }
  
  .addproduct-photo form {
    display:table-cell;
    width:500px;
    background-color:#ffffff;
    padding:40px 60px;
    color:#505e6c;
  }
  
  @media (max-width:991px) {
    .addproduct-photo form {
      padding:40px;
    }
  }
  
  .addproduct-photo form h2 {
    font-size:24px;
    line-height:1.5;
    margin-bottom:30px;
  }
  
  .addproduct-photo form .form-control {
    background:#f7f9fc;
    border:none;
    border-bottom:1px solid #dfe7f1;
    border-radius:0;
    box-shadow:none;
    outline:none;
    color:inherit;
    text-indent:6px;
    height:40px;
  }
  
  .addproduct-photo form .form-check {
    font-size:13px;
    line-height:20px;
  }
  
  .addproduct-photo form .btn-primary {
    background:#f4476b;
    border:none;
    border-radius:4px;
    padding:11px;
    box-shadow:none;
    margin-top:35px;
    text-shadow:none;
    outline:none ;
  }
  
  .addproduct-photo form .btn-primary:hover, .addproduct-photo form .btn-primary:active {
    background:#eb3b60;
  }
  
  .addproduct-photo form .btn-primary:active {
    transform:translateY(1px);
  }
  
  .addproduct-photo form .already {
    display:block;
    text-align:center;
    font-size:12px;
    color:#6f7a85;
    opacity:0.9;
    text-decoration:none;
  }
  
  